/node_modules
/public/hot
/public/storage
/storage/*.key
public/media/qrcodes
/public/uploads
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/media
/public/uploads